<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/styles.css" />
    <!-- http://jquery.com/ -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- http://getbootstrap.com/ -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- for bootstrap responsive mobiles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>laspi-creatures</title>
  </head>
  <body onload="startGame()">
    <div class="container-total center">
      <div class = "container-fluid">
        <div class = "headerMain container-fluid">
          <h1 align="center">Deep learning in the primordial ooze</h1>
          <h5 align = "center">select a creature for more info</h5>
        </div>
      </div>
      <div class = "container-fluid">
        <canvas id = "explorer" class = "explorer right"></canvas>
        <canvas id = "canvas" class = "main-canvas right"></canvas>
        <div id = "leftSide" class = "right container-fluid">
          <div style="text-align: center;">
          <button type="button" id="textButton" class = "btn btn-light" align-self="center" style="width:80px;" onclick="showText()">Info</button>
          </div>
          <div id ="allTheText" class = "conaiter-fluid hideText">
            <p class = "text-left">You are veiwing the pre-alpha version of an experement into the co-evolution of neural networks within an ecosystem.</p>
            <p class = "text-left">Each creature, represented by a body and eleven antennae, is controled by a neural network running in your browser.
            a creature may divide and mutate or may die before it gets a chance.
            </p>
            <p>All creatures have been randomly generated opon opening this page and data from the simulation and the creatures, as well as the neural networks are stored on
            a database.
            </p>
            <p>
            Many aspects of this experement are under construction. Please get in touch for more information or if you have spotted a bug in the system.
            </p>
          </div>
        </div>
      </div>
      <p class = "center tagLine small">Created by William James :: willjames@protonmail.com :: Code available at www.github.com/wlpjames</p>
    </div>

  </body>
   <script src="./static/script.js"></script>
</html>
